.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 30px;
  padding: 0 50px;
}

span {
  position: absolute;
  font-size: 8px;
  color: white;
}

.link {
  text-decoration: none;
  color: white
}

input {
  padding: 6px;
  border-radius: 3px;
  width: 300px;
  margin: 0
}

.action__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.link__text {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  :hover{
    color:salmon;
  }
}

.home__container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 40px 40px;
  padding: 0 40px;
}

.prod__container {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

.prod__image {
  width: 150px;
  height: 200px;
  object-fit: fill;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.prod__price__container {
  border: 1px solid black;
  /* display:flex;  */
  /* align-items:center;  */
  /* justify-content:space-between; */
}

.add__btn {
  background: salmon;
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.add__btn:hover {
  background: black;
  color: white;
}

.cart__container {
  display: block;
  margin: 0 auto;
  width: 30%;
}

.cart__image {
  width: 70px;
  height: 120px;
  object-fit: fill;
  margin-right: 20px;
  padding: 10px 0;

}

.order__total-container {
  display: flex;justify-content:space-between; margin-top:20px;
  align-items: center;
}

.order__btn {
  height: 40px;
  width: 250px;
  background-color: #282c34;
  color: white;
  border-radius: 4px;
  font-weight: 700;
}

.order__btn:hover {
  background-color: white;
  color: #282c34;
  border: 1px solid #282c34;
  cursor: pointer;
}
.cart__list{
  height:62vh;overflow-y:auto;
}
.item__container{
  display:flex;background: white;margin: 6px 0;padding:2px 15px;
}
.item__dlt_container{
  display:flex;justify-content:space-between; align-items:center;
}
.login__container{
  display: block;text-align: center;
  /* justify-content: center; */
  margin: 0 auto;
  width: 30%;
}